<div class="container mt-5">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="mb-3">
      <label>Usuario</label>
      <input [(ngModel)]="username" name="username" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Contraseña</label>
      <input [(ngModel)]="password" type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
  <p class="text-danger" *ngIf="error">{{ error }}</p>
</div>
<router-outlet></router-outlet>