.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }


.mat-toolbar {
  min-height: 80px !important; 
  height: 80px !important;
}

.nav-link {
  size: 102px;
}
