<app-nav-bar (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
<br>

<div class="container">
    <h2>Solicitudes de Aprobación</h2>
    <hr color=303d8d size="6px" style="border: solid"/>
    <br>
    <div class="row justify-content-end" *ngIf="roleService.isSolicitante()">
        <div class="col-1">
            <button type="button" class="btn btn-outline-primary" routerLink="/nuevaSolicitud">
              Nueva Solicitud
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </div>
    <br>

    <table class="table table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th scope="col" *ngFor="let column of columnsToDisplay">{{column}}</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of dataSourceTable , let i = index">
                    <tr >
                        <th scope="row">{{data.id}}</th>
                        <td>{{data.title}}</td>
                        <td>{{data.requester}}</td>
                        <td>{{data.description}}</td>
                        <td>{{data.approver}}</td>
                        <td>{{data.type}}</td>
                        <td>{{data.currentState}}</td>
                        <td *ngIf="roleService.isResponsable()">
                          <div class="container" *ngIf="data.currentState==='PENDING'">
                             <div class="row">
                                <div class="col">
                                  <button  
                                      (click)="openActionModal('APPROVED', data)" class="btn btn-success  btn-sm">
                                    Aprobar
                                  </button>
                                </div>
                                <div class="col">
                                  <button 
                                        (click)="openActionModal('REJECTED', data)" class="btn btn-danger  btn-sm">
                                    Rechazar
                                  </button>
                                </div>
                             </div>
                          </div>
                        </td>
                      </tr>
            </ng-container>
        </tbody>
      </table>

     
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showModal}" style="display: block;" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{actionType === 'APPROVED' ? 'Aprobar' : 'Rechazar'}} solicitud</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <textarea [(ngModel)]="comment" class="form-control" placeholder="Escriba un comentario"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmAction()">Confirmar</button>
      </div>
    </div>
  </div>
</div>